<header id="rooms-logo" (click)="navigateToLanding()">
    <img [src]="returnUrlBasedOnLanguage()" alt="Régi Mesterségek Háza logója / logo Kuće Starih Zanata">
</header>
<main>
    <section>
        <p>{{ 'EXIT.REVIEW' | translate }}</p>
        <a href="https://www.facebook.com/regimestersegekhaza/">
            <div>
                <img src="../../assets/img/facebook-icon.svg">
            </div>
            <div>
                {{ 'EXIT.FACEBOOK' | translate }}
            </div>
        </a>
        <a href="https://www.google.com/search?q=r%C3%A9gi+mesters%C3%A9gek+h%C3%A1za+zenta&oq=r%C3%A9gi+mes&aqs=chrome.2.69i57j69i59j35i39j69i59j46i512j69i61l3.2790j0j4&sourceid=chrome&ie=UTF-8#lrd=0x4744bf088bef85b7:0x1fcc852f5b3a96e,1,,,,">{{ 'EXIT.GOOGLE' | translate }}</a>
    </section>
    <section>
        <h2>{{ 'EXIT.TITLE' | translate }}</h2>
    </section>
</main>