<header id="rooms-logo" (click)="navigateToLanding()">
    <img [src]="returnUrlBasedOnLanguage()" alt="Régi Mesterségek Háza logója / logo Kuće Starih Zanata">
</header>
<main>
    <section>
        <p>{{ 'EXIT.REVIEW' | translate }}</p>
        <a href="https://www.facebook.com/regimestersegekhaza/">
            <div id="facebook">
                <div id="facebook-icon">
                    <img src="../../assets/img/facebook-icon.svg">
                </div>
                <div id="facebook-text">
                    <p>{{ 'EXIT.FACEBOOK' | translate }}</p>
                </div>
            </div>
        </a>
        <a href="https://www.google.com/search?q=r%C3%A9gi+mesters%C3%A9gek+h%C3%A1za+zenta&oq=r%C3%A9gi+mes&aqs=chrome.2.69i57j69i59j35i39j69i59j46i512j69i61l3.2790j0j4&sourceid=chrome&ie=UTF-8#lrd=0x4744bf088bef85b7:0x1fcc852f5b3a96e,1,,,,">
            <div id="google">
                <div id="google-icon">
                    <img src="../../assets/img/google-icon.svg">
                </div>
                <div id="google-text">
                    <p>{{ 'EXIT.FACEBOOK' | translate }}</p>
                </div>
            </div>
        </a>
    </section>
    <section id="goodbye">
        <h2>{{ 'EXIT.TITLE' | translate }}</h2>
        <img src="../../assets/img/alapito.jpg" alt="Pecze Árpád alapító / Osnivač Arpad Pece">
    </section>
</main>