<main>
    <header id="rooms-logo">
        <img src="../../assets/img/logo-hu.svg" alt="Régi Mesterségek Háza logója / logo Kuće Starih Zanata">
    </header>
    <section>
        <div class="card">
            <img src="../../assets/img/madar.jpg" alt="">
            <h3>Belépő  1-10</h3>
        </div>
        <div class="card">
            <img src="../../assets/img/madar.jpg" alt="">
            <h3>Belépő  1-10</h3>
        </div>
        <div class="card">
            <img src="../../assets/img/madar.jpg" alt="">
            <h3>Belépő  1-10</h3>
        </div>
    </section>
</main>