<main>
    <section id="room-header">
        <img [src]="returnUrlForPicture()">
        <div>
            <h1><span>{{activeRoute}}</span>. {{ 'MAIN.ROOM' | translate }}</h1>
            <button id="close-button" type="button" (click)="goBack()"><img src="../../assets/img/close-icon.svg"></button>
        </div>
    </section>
    @if (view) {
        <section id="playlist">
            @for (item of newArray; track item) {
                <div id="things-list-item">
                    <p>{{item}}. {{ 'DETAIL.ITEM' | translate }}</p>
                    @if (currentlyPlaying !== item) {
                        <button class="main-play-button" (click)="play(item)">{{ 'AUDIO.PLAY' | translate }}</button>
                    }
                </div>
                @if (currentlyPlaying===item) {
                    <div id="audio-buttons">
                        @if (currentlyPlaying===item) {
                            <button type="button" (click)="resume()"><img src="../../assets/img/play-icon.svg" alt="Lejátszás ikon" [ngClass]="{'inactive': !audio.paused}"></button>
                        }
                        @if (currentlyPlaying===item) {
                            <button type="button" (click)="pause()"><img src="../../assets/img/pause-icon.svg" alt="Szüneteltetés ikon" [ngClass]="{'inactive': audio.paused}"></button>
                        }
                        @if (currentlyPlaying != 0 && currentlyPlaying===item) {
                            <button type="button" (click)="stop()"><img src="../../assets/img/stop-icon.svg" alt="Megállítás ikon"></button>
                        }
                    </div>
                }
            }
        </section>
    }
    <section id="next-room">
        <p>{{ 'DETAIL.STEPOVER' | translate }}</p>
        @if (activeRoute < 14) {
            <button id="next-room-button" type="button" (click)="navigateToNextRoom()">{{ 'DETAIL.NEXT' | translate }}</button>
        }
        @if (activeRoute == 14) {
            <button id="next-room-button" type="button" (click)="navigateToExitPage()">{{ 'DETAIL.END' | translate }}</button>
        }
    </section>
</main>