section {
    display: block;
}

/* Room header */
#room-header {
    background-color: #ECEAE8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

#room-header img {
    width: 100%;
    display: block;
}

#room-header div {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
}

h1 {
    margin-block: 0;
    display: inline-block;
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

#room-header button {
    background-color: transparent;
    border: none;
}

#close-button {
    width: 2.2rem;
}

/* Playlist */
#playlist {
    padding: 1rem;
    background-color: #fff;
}

#playlist div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ECEAE8;
}

#playlist div:last-child {
    border-bottom: none;
}

#playlist p {
    font-size: 1.2rem;
}

.main-play-button {
    padding: 10px 1rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #CF9764;
    border: none;
    color: #ffffff;
    cursor: pointer;
}


/* Next room */
#next-room {
    background-color: #ECEAE8;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

p {
    margin-block: 0;
    display: inline-block;
    font-size: 1rem;
}

#next-room-button {
    display: inline-block;
    color: #6D0612;
    border: 1px solid #6D0612;
    background-color: transparent;
    padding: 10px 1rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1rem;
}