<main>
    <section id="room-header">
        <img src="../../assets/img/madar.jpg">
        <div>
            <h1><span>{{activeRoute}}</span>. helyiség</h1>
            <button id="close-button" type="button" (click)="goBack()"><img src="../../assets/img/close-icon.svg"></button>
        </div>
    </section>
    <section id="playlist" *ngIf="view">
        <div *ngFor="let item of newArray">
            <div id="things-list-item">
                <p>{{item}}. tárgy</p>
                <button class="main-play-button" (click)="play(item)">{{ 'AUDIO.PLAY' | translate }}</button>
                <button type="button" (click)="pause()" *ngIf="currentlyPlaying===item">{{resumeOrPause}}</button>
                <button type="button" (click)="stop()" *ngIf="currentlyPlaying != 0 && currentlyPlaying===item">Stop</button>
            </div>
            <div id="audio-buttons">
                <button type="button"><img src="../../assets/img/play-icon.svg" alt="Lejátszás ikon"></button>
                <button type="button"><img src="../../assets/img/pause-icon.svg" alt="Szüneteltetés ikon"></button>
                <button type="button"><img src="../../assets/img/stop-icon.svg" alt="Megállítás ikon"></button>
            </div>
        </div>
    </section>
    <section id="next-room">
        <p>Lépj be a következő helyiségbe!</p>
        <button id="next-room-button">Tovább</button>
    </section>
</main>