<main>
    <div id="submark">
        <img src="../../assets/img/submark.svg" alt="Régi Mesterségek Háza logója / logo Kuće Starih Zanata">
    </div>
    <div id="lang-option">
        <button type="button" (click)="setLanguage('hu')" class="zoom-in-out-hu">
            <img src="../../assets/img/hun.svg" alt="Magyar zászló">
            Magyar
        </button>
        <button type="button" (click)="setLanguage('sr')" class="zoom-in-out-sr">
            <img src="../../assets/img/srb.svg" alt="Srpska zastava">
            Srpski
        </button>
    </div>
</main>