main {
    background: rgb(181,115,101);
    background: linear-gradient(180deg, rgba(181,115,101,1) 0%, rgba(132,48,60,1) 100%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

div {
    padding-top: 22vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: transparent;
    border: transparent;
    font-size: 24px;
    display: block;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

button:first-of-type {
    padding-bottom: 12vh;
}

img {
    display: block;
    margin: 0 auto 1.2vh auto;
}